<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if(path === "/"){ %>
      <meta property="og:image" content="https://bcdeveloper.ca/public/images/Vancouver-Guide-Social.png" />
    <% } %>
    <% if(typeof post === "object" && post){ %>
      <meta name="description" content="<%= post.body.slice(0,210) %> ...">
    <% } else{ %>
      <meta name="description" content="Looking for Beautiful Vancouver's most popular attractions and top things to do? Look no further. This is the most comprehensive and user-friendly guide to our beautiful city.">
    <% }; %>

    <title>Vancouver Guide | 
      <% if(typeof post === "object" && post){ %>
        <%= post.title %>
      <% } else{ %>
        The Best Travel Guide to Beautiful Vancouver
      <% }; %>
    </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand pb-2" id="logo" href="/"><img src="/Logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <% if(!user){ %>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/signup">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/login">Log In</a>
                  </li>
                <% }else{ %>
                  <li class="nav-item active">
                    <a class="nav-link text-white" href="/profile">My Profile<span class="sr-only">(current)</span></a>
                  </li>
                  <% if(user && !user.flagged){ %>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/index/new">Add an Attraction</a>
                    </li>
                  <% } %>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">Log Out</a>
                  </li>
                <% }; %>
              </ul>
              <form class="form-inline my-2 my-lg-0" action="/index/1" method="POST">
                <input class="form-control mr-sm-2 typingahead" id="background-white" id="navbar-search" autocomplete="off" type="search" placeholder="Search" aria-label="Search" name="search" maxlength="100" required>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </div>
      </nav>
