<%- include("partials/header") %>

<div class="container text-dark notices mt-5">
    <div class="h1 text-center mb-5 font-weight-bold">ABOUT VANCOUVER GUIDE</div>
    <div class="mt-4 mb-3">Ranked among the most beautiful and livable cities in the world for many years in a row, Vancouver has long been one of the top choices for domestic and international travelers. The beautiful city of Vancouver is located on the Pacific Coast in southwestern British Columbia, the most westerly province of Canada. All year long, millions of tourists flock to Vancouver and its surrounding areas to enjoy its unique cultural diversity, its magnificent nature, and its endless supply of attractions and things to see and do.</div>
    <div class="my-4"><a href="/" target="_blank">Vancouver Guide</a> is a comprehensive travel guide dedicated to Vancouver and its marvelous surrounding areas. We rely on each and every one of our users to help us build the most comprehensive travel guide for our beautiful city. This way we can make sure that our guide is of excellent quality and reflects beautiful moments and experiences that our users from around the world have had in Vancouver. Our users generously share what they love and admire about Vancouver and help build the best travel guide to Vancouver.</div>
    <div class="my-4"><a href="/" target="_blank">Vancouver Guide</a> is strictly committed to providing a safe environment for visitors of all ages. We believe that as the website owners we are responsible for all the content published on our website, and therefore we make every endeavor to make sure our users are respecting one another, our <a href="/terms" target="_blank">Terms and Conditions</a>, the <a href="/privacy" target="_blank">Privacy Policy</a>, and any relevant laws and regulations. This approach has helped us create a friendly environment for our users to contribute to the website and to interact with one another respectfully.</div>
    <div class="my-4">Please send all questions, comments and feedback to us at <a href = "mailto: vanc.guide@gmail.com">vanc.guide@gmail.com</a>.</div>
</div>

<%- include("partials/footer") %>