<%- include("partials/header") %>

<div class="container mt-5">
    <h3 class="mb-4">Are you sure you want to delete your post?</h3>
    <form method="POST" action="/index/show/<%= post._id %>?_method=DELETE">
        <button type="submit" class="btn btn-danger">Yes, please go ahead and delete the post!</button>
    </form>
    <a class="btn btn-primary" href="/index/show/<%= post._id %>">No, please take me back to the previous page!</a>
</div>

<%- include("partials/footer") %>