<%- include("partials/header") %>

<div class="container mt-5 pb-5 pt-5">
    <h3 class="mb-4 text-dark pb-1">Please fill in the following fields and submit the form.</h3>
    <form method="POST" action="/index" enctype="multipart/form-data">
        <div class="row">
             <div class="input-group mb-3 col-md-8">
                <input type="text" class="form-control" name="newPost[title]" placeholder="Title (Please make sure you enter the official title.)" required>
            </div>

            <div class="input-group mb-3 col-md-4">
                <select class="custom-select" id="inputGroupSelect02" name="newPost[category]" required> 
                <option selected>Category</option>
                <option value="Natural">Natural</option>
                <option value="Cultural">Cultural (Heritage)</option>
                <option value="Events">Events</option>
                <option value="Man-Made">Man-Made</option>
                </select>
                <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02">Options</label>
                </div>
            </div>

            <div class="input-group mb-3 col-md-8">
                <input type="url" class="form-control" name="newPost[url]" placeholder="External link (http://www.example.com)">
            </div>

            <div class="input-group mb-3 col-md-4">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" accept="image/*" id="inputGroupFile" required>
                    <label class="custom-file-label" for="inputGroupFile">Upload image</label>
                </div>
            </div>
            
   
            <div class="input-group mb-3 col col-12">
                <textarea class="form-control" name="newPost[body]" rows="6" required placeholder="Please provide a precise and comprehensive description."></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block mx-auto">Submit</button>
    </form>
</div>
<!-- col-md-10 col-lg-8 col-xl-7 -->
<%- include("partials/footer") %>