<%- include("partials/header") %>

<div class="container ">
    <h5>Sign Up Now!</h5>

    <form method="POST" action="/signup">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email" required> 
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="yourPassword">Password</label>
          <input type="password" name="password" class="form-control" id="yourPassword" placeholder="Choose a password" minlength="8" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm your password</label>
            <input type="password" name="password2" class="form-control" id="confirmPassword" placeholder="Re-enter your password" minlength="8" required>
        </div>
        <button type="submit" class="btn btn-primary">SIGN UP</button>
      </form>
</div>

<%- include("partials/footer") %>