html {
    height: 100%;
}

body {
    background-color: #81ecec;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.shadow-effect {
    box-shadow: 10px -2px 20px 2px rgba(0,0,0,.3);
    border-radius: 6px;
}

.main-background {
    background-color: #ecf0f1;
    padding: 14px;
}

.hovering-effect :hover :not(.hovering-effect-button) {
    background-color: #ecf0f1;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    height:auto;
    min-height:100%;
}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.footerFont {
    font-size: 0.85rem;
}

.footer-icon{
    color: white;
}

.footer-icon:hover{
    color: #b6babe;
}

.notices {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.05rem;
}

.small-font-size {
    font-size: 0.95rem
}

.like-button-border {
    padding: 0;
    border: none;
    background: none;
}

.like-button-border:focus {
    outline: none;
    box-shadow: none;
}

.fas.fa-heart{
    color: red;
}

.fade-out-items {
    font-size: 18px;
}

.float-right {
    float: right;
}

.line-break{
    white-space: pre-wrap;
}

.image-attribution{
    font-size: 0.8rem;
    word-break: break-all;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#front-top {
    position: absolute;
    width: 385px;
    height: 150px;
    z-index: 15;
    margin: -100px 0 0 -150px;
}

#body-cover {
    height:100vh;
    background: url(../home-images/bodyCover.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bolden {
    font-weight: 800;
}

#front-top h1 {
    font-size: 2.8rem;
    font-weight: 700;
}

.form-control.mr-sm-2#navbar-search {
    width: 300px;
    padding-top: 0;
    padding-bottom: 0;
}

.asterisk {
    vertical-align: sub;
}

.shadow-box {
    box-shadow: 10px -2px 20px 2px rgba(0,0,0,.3);
    border-radius: 6px;
    width: 224px;
    height: 237px;
}

#centering {
    margin: auto;
    display: inline-flex;
}

.pagination li { 
    font-weight:bold; 
    font-size:18px; 
    color: black; 
    float: left; 
    padding: 6px 15px; 
    text-decoration: none; 
}

.pagination li.active { 
    border-radius: 5px;     
    background-color: #7f8c8d;
}

.pagination li:hover:not(.active) { 
    border-radius: 5px;
    background-color: #bdc3c7;
}

.input-group > .twitter-typeahead {
    flex: 1 1 auto;
    width: auto;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  
.tt-hint {
    color: #999
}
  
.tt-menu {
    width: 422px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
  
.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}
  
.tt-suggestion.tt-cursor,.tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
}
  
.tt-suggestion p {
    margin: 0;
}

#background-white {
    background-color: white;
}

@media (min-width: 450px) and (max-width: 575px){
    .very-small{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    } .profile-title {
        width: 370px;
        margin-left: auto;
        margin-right: auto;
}}

@media (max-width: 575px){
    .card-img.card-img-top{
        width: 100%;
        height: 65vw;
        object-fit: cover;
    } #front-top {
        left: 30%;
        top: 25%;
        background: rgba(171, 205, 239, 0.5);
        width: 287px;
        height: 125px;
    } #front-top h3 {
        font-size: 1.15rem;
    } #front-top h1 {
        font-size: 2.0rem;
    }}

@media (max-width: 258px){
    #front-top {
        display: none;
}}

@media (min-width: 259px) and (max-width: 480px){
    #front-top {
        left: 57%;
        top: 27%;
        background: rgba(171, 205, 239, 0.5);
        width: 250px;
    } #front-top h3 {
        font-size: 1rem;
    } #front-top h1 {
        font-size: 1.8rem;
}}

@media (min-width: 576px) and (max-width: 767px){
    .card-img.card-img-top{
        width: 100%;
        height: 27vw;
        object-fit: cover;
    } #front-top {
        left: 32%;
        top: 22%;
        background: rgba(171, 205, 239, 0.4);
        width: 290px;
    } #front-top h3 {
        font-size: 1.2rem;
    } #front-top h1 {
        font-size: 2.2rem;
}}

@media (min-width: 768px) and (max-width: 991px){
    .card-img.card-img-top{
        width: 100%;
        height: 25vw;
        object-fit: cover;
    } #front-top {
        left: 27%;
        top: 16%;
        background: rgba(171, 205, 239, 0.3);
        width: 310px;
    } #front-top h3 {
        font-size: 1.4rem;
    } #front-top h1 {
        font-size: 2.6rem;
}}

@media (min-width: 992px){
    .card-img.card-img-top{
        width: 100%;
        height: 15vw;
        object-fit: cover;
    } #front-top {
        top:13%;
        left:19%;
        background: rgba(171, 205, 239, 0.3)
}}
